@import url("initialization.css");
@import url("navbar.css");
@import url("footer.css");
@import url("popular-course.css");

.navbar ul li:nth-child(2) {
    border-bottom: white 2px solid;
}

.academy {
    position: relative;
    padding: 150px 112px;
    display: flex;
    align-items: center;
}

.academy .bg img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.academy .bg img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.academy .content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.academy .content img {
    order: 2;
    width: 48%;
    height: auto;
}

.academy .content .text {
    order: 1;
    width: 48%;
    margin-right: 4%;
    position: relative;
}

.academy .content .text .title {
    display: flex;
}

.academy .content .text .title h1 {
    font-size: 37px;
    color: #13151e;
    font-weight: 500;
}

.academy .content .text .title h1::after {
    content: " Academy";
    color: #d6222d;
}

.academy .content .text .paragraph {
    margin-bottom: 20px;
}

.academy .content .text .paragraph p {
    line-height: 150%;
}

.new-course {
    padding: 80px 112px;
    background-color: #13151e;
}

.new-course .title {
    color: white;
    font-size: 37px;
    font-weight: 500;
}

.new-course .title::after {
    color: #d6222d;
    content: " Course";
}

.new-course .box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 45px;
    padding: 40px 80px 40px 40px;
}

.new-course .box .course-photo {
    width: 60%;
    height: auto;
    margin-right: 50px;
}

.new-course .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.new-course .box .content h1 {
    color: #13151e;
    font-size: 37px;
    font-weight: 500;
}

.new-course .box .content h1:first-child {
    margin-bottom: 40px;
}

.new-course .box .content p {
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 35px;
}

.new-course .box .content .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.new-course .box .content .wrap .button {
    background-color: #d6222d;
    color: white;
}

.hr-break {
    background-color: #d6222d;
    border: solid #d6222d 1px;
}

.galery-member {
    background-color: #13151e;
    padding: 80px 112px;
}

.galery-member .title {
    color: white;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 60px;
}

.galery-member .title::after {
    content: " Member's";
    color: #d6222d;
}

.galery-member .wrap {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 60px;
}

.galery-member .wrap img {
    width: 500px;
    height: auto;
    padding-right: 20px;
}

.alumni-testi {
    background-color: #13151e;
    padding: 80px 112px 100px 112px;
}

.alumni-testi .title {
    color: white;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 60px;
}

.alumni-testi .title::after {
    content: " Testimonials";
    color: #d6222d;
}

.alumni-testi .wrap {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 60px;
}

.alumni-testi .wrap .box {
    position: relative;
    align-items: center;
    min-width: 500px;
    display: flex;
    padding: 54px 30px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 32px;
}

.alumni-testi .wrap .box img {
    margin-right: 36px;
}

.alumni-testi .wrap .box .content img {
    position: absolute;
    bottom: 20%;
}

@media screen and (max-width: 1235px) {
    .academy .content {
        flex-direction: column;
        justify-content: center;
    }

    .academy .content .text {
        order: 2;
        margin-top: 40px;
        margin: 0;
        width: 90%;
    }
    .academy .content img {
        margin-bottom: 40px;
    }

    .new-course .box {
        flex-direction: column;
    }

    .new-course .box img:first-child {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .new-course .box .content p {
        width: 100%;
    }

    .new-course .box .content div:nth-child(5) {
        width: 100%;
    }

    .new-course .box .content div img {
        margin: 0;
    }

    .new-course .box .content .wrap {
        width: 100%;
    }

    .new-course .box .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-course .box .content h1 {
        text-align: center;
    }
    .new-course .box .content p {
        width: 90%;
    }
}

@media screen and (max-width: 940px) {
    .academy {
        padding: 60px 80px;
    }

    .academy .bg img {
        width: 300px;
    }

    .new-course .box {
        padding: 20px;
    }

    .new-course .box img:first-child {
        margin-bottom: 30px;
    }

    .new-course .box .content h1 {
        font-size: 28px;
    }

    .new-course .box .content h1:first-child {
        margin-bottom: 20px;
    }

    .academy .content img {
        width: 60%;
    }

    .new-course,
    .galery-member,
    .alumni-testi {
        padding: 60px 80px;
    }
}

@media screen and (max-width: 764px) {
    .academy {
        height: auto;
        padding: 20px;
    }

    .alumni-testi .wrap .box .content img {
        bottom: 10%;
    }

    .academy .bg {
        display: none;
    }

    .academy .content .text {
        width: 100%;
    }

    .academy .content .text .title h1 {
        font-size: 21px;
    }

    .academy .content .text .paragraph p {
        font-size: 14px;
    }

    .new-course {
        padding: 20px;
    }

    .new-course .title {
        font-size: 21px;
    }

    .new-course .box {
        margin-top: 20px;
        padding: 20px;
    }

    .new-course .box img:first-child {
        margin-bottom: 10px;
    }

    .new-course .box .content p {
        width: 100%;
    }

    .new-course .box .content div:nth-child(5) {
        width: 100%;
    }

    .new-course .box .content .wrap {
        width: 100%;
    }

    .new-course .box .content h1 {
        font-size: 18px;
        font-weight: 700;
    }

    .new-course .box .content h1:first-child {
        margin-bottom: 10px;
    }

    .new-course .box .content .wrap .button {
        width: 100px;
    }

    .new-course .box .content p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .galery-member,
    .alumni-testi {
        padding: 20px;
    }

    .galery-member .title,
    .alumni-testi .title {
        margin-bottom: 20px;
    }

    .galery-member .title,
    .alumni-testi .title {
        font-size: 21px;
    }

    .galery-member .wrap {
        padding-bottom: 20px;
    }

    .galery-member .wrap img {
        width: 100%;
    }

    .alumni-testi .wrap .box img {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .alumni-testi .wrap .box {
        min-width: 280px;
        flex-direction: column;
    }
}
