@import url("initialization.css");
@import url("navbar.css");
@import url("footer.css");

.title {
    padding: 48px 112px;
    background-color: #13151e;
}

.title h2 {
    color: white;
    margin-bottom: 40px;
}

.title h2::after {
    content: " Table";
    color: #d6222d;
}

.title p {
    font-size: 18px;
    color: white;
    font-weight: 700;
    /* margin-bottom: 100px; */
}

.form {
    display: flex;
    background-color: #13151e;
    padding: 0 112px;
}

.form .left {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    width: 47%;
}

.form .left img {
    margin-bottom: 50px;
}

.form .left h1 {
    font-size: 67px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.form .left h2 {
    text-align: center;
    font-size: 37px;
    font-weight: 500;
    color: #d6222d;
}

.form .left h2::after {
    content: " RESTAURANT";
    color: white;
}

.form form {
    width: 47%;
    position: relative;
    margin-bottom: 100px;
}

.form form .wrap {
    margin-bottom: 60px;
}

.form form .wrap .label {
    font-size: 16px;
    font-weight: 500;
    color: #7d7f83;
    margin: 0 0 8px 13px;
}

.form form .wrap .error {
    color: #d5222c;
    font-size: 16px;
    line-height: 145%;
    display: none;
}

.form form .wrap .input-box,
.dropdown,
.dropdown-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border: 1px solid #7d7f83;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.form form .wrap .input-box:hover,
.form form .wrap .dropdown:hover {
    border: 2px solid #7d7f83;
}

.form form .wrap .dropdown:hover {
    cursor: pointer;
}

.form form .wrap .input-box:focus {
    outline: none;
    border: 2px solid white;
    color: white;
}

.form form .wrap .dropdown {
    color: #7d7f83;
}

.form form .wrap .dropdown-box {
    width: 100%;
    position: absolute;
    padding: 0;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-color: white;
    opacity: 0;
    display: none;
    transform: translateY(-20px);
    transition: all 0.3s;
    background-color: #13151e;
}

.form form .wrap #locationDropdownBox {
    z-index: 2;
}

.form form .wrap .dropdown-box.active {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-color: white;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s;
}

.form form .wrap .dropdown-box div {
    padding: 0 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px white;
}

.form form .wrap .dropdown-box div:first-child {
    border-radius: 10px 10px 0 0;
}

.form form .wrap .dropdown-box div:last-child {
    border-radius: 0 0 10px 10px;
}

.form form .wrap .dropdown-box div:hover {
    background-color: white;
}

.form form .wrap .dropdown-box div:hover label {
    color: #13151e;
}

.form form .wrap .dropdown-box div:last-child {
    border-bottom: none;
}

.form form .wrap .dropdown-box div input {
    display: none;
    /* outline: none; */
}

.form form .wrap .dropdown-box div label {
    color: #7d7f83;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.form form #input-phoneNumber input::-webkit-outer-spin-button,
.form form #input-phoneNumber input::-webkit-inner-spin-button {
    display: none;
}

.form form .wrap .date-time-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form form .wrap .date-time-wrap .date {
    width: 47%;
}

.form form .wrap .date-time-wrap .date input {
    color: #7d7f83;
}

.form form .wrap .date-time-wrap .date input:focus {
    color: white;
}

.form
    form
    .wrap
    .date-time-wrap
    .date
    input::-webkit-calendar-picker-indicator {
    background-image: url("Assets-book now/Vector.png");
}

.form form .wrap .date-time-wrap .time input {
    color: #7d7f83;
}

.form
    form
    .wrap
    .date-time-wrap
    .time
    input::-webkit-calendar-picker-indicator {
    background-image: url("Assets-book now/clock.png");
}

.form form .wrap .date-time-wrap .time {
    width: 47%;
    position: relative;
}
.form form .wrap button {
    background-color: #d6222d;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.form form textarea {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 20px 30px;
    width: 100%;
    height: 94px;
    background-color: #13151e;
    border-radius: 10px;
    outline: none;
    border: 1px solid #7d7f83;
}

.form form textarea:hover {
    border: 2px solid #7d7f83;
}

.popup {
    display: none;
}

.popUpmessage {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 61%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 8;
    padding: 85px;
    text-align: center !;
}

.popUpmessage img:first-child {
    position: absolute;
    right: 27px;
    top: 27px;
}

.popUpmessage img:hover {
    cursor: pointer;
}

.popUpmessage img:nth-child(2) {
    margin-bottom: 45px;
}

.popUpmessage h2 {
    margin-bottom: 40px;
    text-align: center;
}

.popUpmessage p {
    text-align: center;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 50%;
    z-index: 7;
}

@media screen and (max-width: 1235px) {
    .form .left {
        width: 40%;
    }

    .title h2 {
        font-size: 28px;
    }

    .title p {
        font-size: 16px;
    }

    .form form {
        width: 54%;
    }
    .form .left h1 {
        font-size: 48px;
    }
    .form .left h2 {
        font-size: 28px;
    }

    .popUpmessage {
        padding: 64px;
    }

    .popUpmessage h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 940px) {
    .form .left {
        display: none;
    }

    .form form {
        width: 100%;
    }

    .title {
        padding: 40px 80px;
    }
    .form {
        padding: 0 80px;
    }

    .title h2 {
        margin: 0 0 20px;
    }

    .popUpmessage {
        padding: 40px;
    }
}

@media screen and (max-width: 764px) {
    .title {
        padding: 20px;
    }

    .form {
        padding: 20px;
    }

    .popUpmessage {
        padding: 20px;
    }

    .popUpmessage h2 {
        font-size: 18px;
    }
    .popUpmessage p {
        font-size: 14px;
    }
    .popUpmessage img:nth-child(2) {
        width: auto;
        height: 80px;
    }
}
