footer {
	padding-bottom: 20px;
	background-color: #13151e;
	position: relative;
}

footer hr {
	border: #d6222d solid 1px;
	background-color: #d6222d;
}

footer ul {
	list-style: none;
	padding: 0 112px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer ul li {
	margin: 30px auto;
	padding: 0 30px;
	max-width: 400px;
	height: auto;
}

footer ul .content h2 {
	color: #fff;
}

footer ul .content a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	transition: 0.5s;
}

footer ul .content a:hover {
	border-bottom: solid white 1px;
	transition: 0.5s;
}

footer ul .content p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}

.back-to-top {
	position: absolute;
	top: 200px;
	right: 25px;
	display: flex;
	align-items: center;
}

.back-to-top button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-to-top button:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s;
}

footer .logo-sosmed {
	padding: 0 112px;
	display: flex;
	justify-content: space-between;
}

footer .logo-sosmed .sosmed {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
footer .logo-sosmed .sosmed .icon img {
	margin: 10px;
	height: 25px;
}
