* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
	text-align: justify;
}

section {
	padding: 0 112px;
}

img {
	height: auto;
}

body {
	width: 100%;
	font-family: "Ubuntu", sans-serif;
}

.button {
	color: #13151e;
	border: #d6222d solid 3px;
	border-radius: 10px;
	height: 43px;
	width: 165px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}


.button:hover {
	/* border: none; */
	font-size: 1.1em;
	background-color: #d6222d;
	transition: 0.5s;
}

.enroll{
	color: white;
	border-radius: 10px;
	background-color: #d6222d;
	height: 38px;
	width: 138px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	transition: 0.5s;
}

.enroll:hover{
	background-color: #B21C25;
	transition: 0.5s;
}