* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
	text-align: justify;
}

section {
	padding: 0 112px;
}

img {
	height: auto;
}

body {
	width: 100%;
	font-family: "Ubuntu", sans-serif;
}

.wrap::-webkit-scrollbar {
	width: auto;
}

.wrap::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 10px;
}

.wrap::-webkit-scrollbar-thumb {
	background-color: #d6222d;
	border-radius: 10px;
}

button,.button {
	border: none;
	font-family: "Ubuntu",sans-serif;
	color: white;
	background-color: #d6222d;
	font-size: 16px;
	font-weight: 500;
	border-radius: 10px;
	height: 42px;
	width: 152px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.5s;
}

.disabled{
	width: 152px;
	height: 42px;
	font-family: "Ubuntu",sans-serif;
	color: #B0B1B4;
	background-color: #D0D0D2;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}




.button:hover,button:hover {
	cursor: pointer;
	height: 46px;
	width: 155px;
	font-size: 18px;
	background-color: #A01019;
	transition: 0.5s;
}

.button-course{
	color: white;
	border-radius: 10px;
	background-color: #d6222d;
	height: 38px;
	width: 138px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	transition: 0.5s;
}

.button-course:hover{
	background-color: #A01019;
	transition: 0.5s;
}