@import url("initialization.css");
@import url("navbar.css");
@import url("footer.css");
@import url("kanji-break.css");
@import url("popular-course.css");

.navbar ul li:nth-child(1) {
    border-bottom: white 2px solid;
}

.landing-page {
    position: relative;
    background-color: #13151e;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.hiasan-bawah {
    position: absolute;
    transform: translateY(5px);
    left: 0;
    bottom: 0;
}

.hiasan-kanan {
    position: absolute;
    right: 0;
    top: 0;
}

.left h1 {
    font-weight: 700;
    font-size: 67px;
    color: #d6222d;
    margin-bottom: 10px;
}

.left h1:nth-child(2) {
    color: white;
    margin-bottom: 40px;
}

.left {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    align-items: center;
    /* justify-content: space-between; */
}

.right {
    transform: translateX(-10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.right button {
    display: none;
}

.right div {
    margin: 10px 0;
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.right img {
    width: 500px;
    height: auto;
}

.food {
    display: flex;
    align-items: center;
    position: relative;
    height: 1024px;
    background-color: #13151e;
}

.food .hiasan-bg img {
    position: absolute;
}

.food .hiasan-bg img:first-child {
    right: 0;
    top: 0;
}

.food .hiasan-bg img:nth-child(2) {
    bottom: 10%;
    left: 10%;
}

.food .hiasan-bg img:nth-child(3) {
    left: 60%;
    bottom: 20%;
}

.food .hiasan-bg img:nth-child(4) {
    left: 50%;
    bottom: 5%;
}

.food .hiasan-bg img:nth-child(5) {
    right: 0;
    bottom: 0;
}

.food .content {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.food .content img {
    height: auto;
    width: 48%;
}

.food .content .text {
    width: 48%;
    margin-left: 4%;
    position: relative;
}

.food .content .text .title {
    display: flex;
}

.food .content .text .title h1 {
    font-size: 37px;
    font-weight: 500;
    line-height: 145%;
    color: #fff;
}

.food .content .text .title h1::after {
    content: " Cuisine";
    color: #d6222d;
}

.food .content .text .paragraph {
    color: white;
    line-height: 150%;
    font-weight: 500;
}

.food .content .text .see-more {
    position: absolute;
}

.food .content .text .see-more a {
    color: white;
    transition: 0.5s;
}

.our-food {
    position: relative;
    height: 863px;
    width: 100%;
    display: flex;
    align-items: center;
}

.our-food img:nth-child(1) {
    position: absolute;
    left: 0;
    bottom: -35px;
    z-index: -1;
}

.our-food img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}

.our-food video {
    width: 48%;
    height: auto;
}

.our-food .description {
    width: 58%;
    margin-left: 4%;
    position: relative;
    line-height: 145%;
}

.our-food .description a {
    /* position: absolute; */
    transition: 0.5s;
}

.our-food .description a:hover {
    color: #fff;
    transition: 0.5s;
}

.our-food .description .judul {
    display: flex;
}

.our-food .description .judul h1 {
    font-size: 37px;
    font-weight: 500;
    text-align: left;
    line-height: 145%;
}

.our-food .description .judul h1::after {
    content: " Japanese Restaurant";
    color: #d6222d;
}

.academy {
    position: relative;
    height: 1022px;
    display: flex;
    align-items: center;
}

.academy .bg img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.academy .bg img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.academy .content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.academy .content img {
    width: 48%;
    height: auto;
}

.academy .content .text {
    width: 48%;
    margin-left: 4%;
    position: relative;
}

.academy .content .text .title {
    display: flex;
}

.academy .content .text .title h1 {
    font-size: 37px;
    color: #13151e;
    font-weight: 500;
}

.academy .content .text .title h1::after {
    content: " Academy";
    color: #d6222d;
}

.academy .content .text .paragraph p {
    line-height: 150%;
}

.academy .content .text .button {
    position: absolute;
    transition: 0.5s;
}

.academy .content .text .button ul li a {
    text-decoration: none;
    color: #13151e;
}

.popular-menu {
    padding: 100px 112px;
    background-color: #13151e;
}

.popular-menu h2 {
    color: #fff;
    margin-bottom: 60px;
}
.popular-menu h2::after {
    content: " Menu";
    color: #d6222d;
}

.popular-menu .wrap {
    overflow-x: scroll;
    display: flex;
}

.popular-menu .wrap .box {
    min-width: 382px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 60px;
}

.popular-menu .wrap .box img {
    margin-bottom: 24px;
}

.popular-menu .wrap .box h3 {
    margin-bottom: 15px;
}

.ratting {
    font-weight: 300;
    font-size: 18px;
    line-height: 145%;
}

@media screen and (max-width: 1235px) {
    .hiasan-bawah img {
        height: 72px;
    }
    .hiasan-kanan img {
        width: 72px;
    }
    .left h1 {
        font-size: 54px;
    }

    .left h1:nth-child(2) {
        margin-bottom: 20px;
    }

    .left a {
        width: 140px;
        font-size: 16px;
        margin: 10px;
    }
    .right img {
        width: 60%;
        height: auto;
    }
    .right div {
        font-size: 24px;
    }

    .food .hiasan-bg img:nth-child(3) {
        display: none;
    }

    .food .hiasan-bg img {
        max-width: 400px;
        height: auto;
    }

    .food .hiasan-bg img:nth-child(5) {
        width: 200px;
        height: auto;
    }

    .food .content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .food .content img {
        width: 400px;
    }

    .food .content {
        flex-direction: column;
    }

    .food .content .text {
        width: 90%;
        margin: 40px 0 0 0;
    }

    .academy .content {
        flex-direction: column;
        justify-content: center;
    }

    .academy .content .text {
        margin-left: 0;
        margin-top: 20px;
        width: 90%;
    }
    .our-food {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-food video {
        width: 70%;
    }

    .our-food .description {
        width: 90%;
        margin-top: 30px;
        margin-left: 0;
    }
    .our-food img:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    section {
        padding: 0 80px;
    }

    .landing-page {
        flex-direction: column;
        align-items: center;
    }

    .left h1:nth-child(2) {
        margin-bottom: 40px;
    }

    .left,
    .right {
        margin: 0;
    }

    .right {
        display: flex;
        justify-content: space-between;
    }

    .left button {
        display: none;
    }

    .right button {
        display: inherit;
        margin-bottom: 5px;
    }

    .right div {
        margin-bottom: 40px;
    }

    .right img {
        margin: 10px 0;
    }

    .our-food .description {
        width: 100%;
    }

    .our-food video {
        width: 90%;
    }

    .our-food img {
        width: 170px;
        height: auto;
    }

    .popular-menu {
        padding: 60px 80px;
    }

    .food .content .text {
        width: 100%;
    }
}

@media screen and (max-width: 764px) {
    section {
        padding: 0 40px;
    }

    .landing-page {
        width: 100%;
        height: 500px;
    }

    .hiasan-kanan,
    .hiasan-bawah {
        display: none;
    }

    .left h1 {
        font-size: 36px;
    }

    .right img {
        width: 70%;
    }

    .right div {
        font-size: 18px;
    }

    .our-food {
        margin-bottom: 100px;
        padding: 20px 20px 0 20px;
        height: auto;
        justify-content: space-between;
    }

    .food {
        height: auto;
        padding: 20px 20px 100px 20px;
    }

    .food .content img {
        width: 90%;
        height: auto;
    }

    .food .content .text {
        margin-top: 20px;
    }

    .food .content .text .title h1 {
        font-size: 21px;
    }

    .food .content {
        height: 100%;
        justify-content: space-between;
    }

    .food .hiasan-bg {
        display: none;
    }

    .academy {
        height: auto;
        padding: 20px 20px 100px 20px;
    }

    .academy .bg {
        display: none;
    }

    .academy .content img {
        width: 60%;
        height: auto;
    }
    .academy .content .text .title h1 {
        font-size: 21px;
    }

    .academy .content .text .paragraph p {
        font-size: 14px;
    }

    .our-food {
        margin-bottom: 100px;
        padding: 20px 20px 0 20px;
        height: auto;
        justify-content: space-between;
    }

    .our-food img {
        display: none;
    }

    .our-food video {
        height: auto;
        width: 100%;
    }
    .our-food .description .paragraph {
        margin-top: 0px;
    }
    .our-food .description .judul h1 {
        font-size: 21px;
    }

    .popular-menu {
        padding: 20px;
    }

    .popular-menu h2 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .popular-menu h3 {
        font-size: 18px;
    }

    .popular-menu .ratting {
        font-size: 14px;
    }

    .popular-menu .wrap .box {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .popular-menu .wrap .box img {
        width: 100%;
        height: auto;
    }
}
