*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    background-color: #13151E;
    padding: 0 112px;
}   

.navbar ul {
    width: 40em;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}

.navbar ul  li:nth-child(1){
    border-bottom: white 2px solid;
}

.navbar ul li{
    transition: 0.5s;
}

.navbar ul li:nth-child(5){
    padding : 10px;
    border-radius: 10px;
    background-color: #D6222D;
}

.navbar ul li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.landing-page{
    position: relative;
    background-color: #13151E;
    display: flex;
    justify-content: space-evenly;
    height: 695px;
}

.hiasan-bawah{
    position: absolute;
    transform: translateY(4px);
    left: 0;
    bottom: 0;
}

.hiasan-kanan{
    position: absolute;
    right: 0;
}

.left h1{
    font-weight: 700;
    font-size: 72px;
    color: #D6222D;
    
}

.left h1:nth-child(2){
    color: white;
}

.container{
    padding: 0 112px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.left{
    height: 260px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* justify-content: space-between; */
}

.left a{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding: 10px 20px;
    margin: auto;
    border: #D6222D solid 2px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.left a:hover{
    background-color: #D6222D;
    font-size: 1.1em;
    transition: 0.5s;
}

.right{
    transform:  translateX(-10px);
    display: flex;
    height: 260px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.right div{
    margin: 10px;
    color: white;
    font-size: 30px;
}

.kanji-break{
    height: 160px;
    background-color: #D6222D;
    display: flex;
    justify-content: center;
    align-items: center;
}







.our-food{
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.our-food .video video{
    height: 360px;
}

.our-food .description{
    width: 40%;
}

.our-food .description .judul{
    display: flex;
}

.our-food .description .judul h1{
    margin: 5px;
}

.our-food .description .judul h1:nth-child(1),.our-food .description .judul h1:nth-child(4){
    color: #D6222D;
}







.food{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 115px;
    height: 1024px;
    background-color: #13151E;
}

.food .hiasan-bg img:nth-child(1){
    position: absolute;
    right: 165px;
    top: 40px;
}

.food .hiasan-bg img:nth-child(2){
    position: absolute;
    left: 250px;
    bottom: 50px;
}

.food .hiasan-bg img:nth-child(3){
    position: absolute;
    right: 200px;
    bottom: 90px;
}

.food .content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.food .content .text{
    width: 50%;
    position: relative;
    /* padding: 0 115px; */
}

.food .content .text .title{
    display: flex;
}

.food .content .text .title h1{
    font-size: 38px;
    margin: 0 5px;
}

.food .content .text .title h1:nth-child(1){
    color: white;
}

.food .content .text .title h1:nth-child(2){
    color: #D6222D;
}

.food .content .text .paragraph{
    color: white;
    line-height: 1.5em;
}

.food .content .text .see-more{
    position: absolute;
    right: 0;
}

.food .content .text .see-more a{
    border: #D6222D solid 2px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.food .content .text .see-more a:hover{
    /* border: none; */
    font-size: 1.1em;
    background-color: #D6222D;
    transition: 0.5s;
}







.academy{
    position: relative;
    height: 1022px;
    display: flex;
    align-items: center;
    padding: 0 115px;
}

.academy .bg img:nth-child(1){
    position: absolute;
    bottom: 0;
    left: 0;
}

.academy .bg img:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.academy .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.academy .content .text{
    width: 40%;
    position: relative;
}

.academy .content .text .title{
    display: flex;
}

.academy .content .text .title h1{
    margin: 0 5px 0 0;
}

.academy .content .text .title h1:nth-child(1){
    color: #13151E;
}

.academy .content .text .title h1:nth-child(2){
    color: #D6222D;
}

.academy .content .text .paragraph p{
    line-height: 1.45em;
}

.academy .content .text .button{
    width: auto;
    position: absolute;
    right: 0;
}

.academy .content .text .button ul{
    list-style: none;
    display: flex;
}
.academy .content .text .button ul li{
    border: #13151E solid 2px;
    border-radius: 10px;
    width: 145px;
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    transition: 0.5s;
}

.academy .content .text .button ul li a{
    transition: 0.5s;
}

.academy .content .text .button ul li:hover{
    transition: 0.5s;
    background-color: #D6222D;
    border-color: #D6222D;
    transform: scale(1.1);
    cursor: pointer;
}

.academy .content .text .button ul li:hover a{
    transition: 0.5s;
    color: white;
}

/* .academy .content .text .button ul li:nth-child(2){
    background-color: #D6222D;
    border-color: #D6222D;
} */

.academy .content .text .button ul li a{
    text-decoration: none;
    color: #13151E;
}





/* .academy .content .text .button ul li:nth-child(2) a{
    color: white;
} */






.popular-course{
    background-color: #13151E;
    padding: 0 115px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.popular-course .title{
    display: flex;
}

.popular-course .title h1{
    color: white;
    margin-right: 5px;
    font-size: 37.5px;
}

.popular-course .title h1:nth-child(2){
    color: #D6222D;
}

.popular-course .wrap{
    display: flex;
    overflow-x: scroll;
    
}

.popular-course .wrap::-webkit-scrollbar{
    width: auto;
}

.popular-course .wrap::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
}

.popular-course .wrap::-webkit-scrollbar-thumb{
    background-color: #D6222D;
    border-radius: 10px;
}

.popular-course .wrap .content{
    position: relative;
    padding: 28px;
    border-radius: 10px;
    background-color: #fff;
    margin: 45px 35px 45px 0;
    height: 506px;
    min-width: 382px;
    
}

.popular-course .wrap .content .image img{
    max-width: 100%;
    max-height: 100%;
}

.popular-course .wrap .content .title{
    line-height: 1.45em;
    font-size: 22.5px;
    margin-top: 10px;
}

.popular-course .wrap .content .rating{
    position: relative;
    margin: 20px 0;
    font-weight: 700px;
    font-size: 18px;
}

.popular-course .wrap .content .rating  img{
    margin-right: 10px;
}

.popular-course .wrap .content .rating span:nth-child(3){
    position: absolute;
    font-weight: 300;
    right: 3px;

}

.popular-course .wrap .content .price{
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.popular-course .wrap .content .price a{
    text-decoration: none;
    color: #fff;
    background-color: #D6222D;
    padding: 10px 14px;
    border-radius: 10px;
}

.popular-course .wrap .content .price h1{
    font-size: 22.5px;
    font-weight: 500;
}

footer{
    height: 375px;
    background-color: #13151E;
}

footer hr{
    border: #D6222D solid 1px;
    
}