.our-food {
	position: relative;
	height: 863px;
	width: 100%;
	display: flex;
	align-items: center;
}

.our-food img:nth-child(1) {
	position: absolute;
	left: 0;
	bottom: -35px;
	z-index: -1;
}

.our-food img:nth-child(2) {
	position: absolute;
	right: 0;
	top: 0;
}

.our-food video {
	width: 48%;
	height: auto;
}

.our-food .description {
	width: 58%;
	margin-left: 4%;
	position: relative;
	line-height: 145%;
}

.our-food .description a {
	position: absolute;
	right: 0;
	transition: 0.5s;
}

.our-food .description a:hover {
	color: #fff;
	transition: 0.5s;
}

.our-food .description .judul {
	display: flex;
}

.our-food .description .judul h1 {
	font-size: 37px;
	font-weight: 500;
	text-align: left;
	line-height: 145%;
}

.our-food .description .judul h1::after {
	content: " Japanese Restaurant";
	color: #d6222d;
}

@media screen and (max-width: 1235px) {
	.our-food {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.our-food video {
		width: 70%;
	}

	.our-food .description {
		width: 90%;
		margin-top: 30px;
		margin-left: 0;
	}
	.our-food img:nth-child(1) {
		display: none;
	}
}

@media screen and (max-width: 940px) {
	.our-food .description {
		width: 100%;
	}

	.our-food video {
		width: 90%;
	}

	.our-food img {
		width: 170px;
		height: auto;
	}
}

@media screen and (max-width: 764px) {
	.our-food {
		margin-bottom: 100px;
		padding: 40px 40px 0 40px;
		height: auto;
		justify-content: space-between;
	}

	.our-food img {
		display: none;
	}

	.our-food video {
		height: auto;
		width: 80%;
	}
	.our-food .description .paragraph {
		margin-top: 0px;
	}
	.our-food .description .judul h1 {
		font-size: 21px;
		margin-top: 20px;
	}
}
